.arena_channel-widget_container
  clear: both

  h1, h2, h3, h4
    &.arena
      text-align: center

  .nav.arena
    margin: 1em 0
    text-align: center

  #arena_blocks.arena_list .arena_block, 
  #arena_single.arena_block
    margin: 1em 0
    .image, .link, .media
      .display
        text-align: center
  #arena_blocks.arena_grid
    text-align: center
    .arena_block, .arena_block a
      display: inline-block
      height: 220px
      width: 220px
      line-height: 220px
      text-align: center
      vertical-align: middle
      img
        vertical-align: middle !important

  .image
    .display
      min-height:350px

  .metadata dl
    dt
      font-weight: bold
    dt, dd
      text-align: left
      margin: 0

  .channel-footer
    text-align: center

  #arena-slogan
    font-size:11px

  #arena-logo a
    background-position: 0 -24px
    text-decoration:none
    width: 33px
    height: 22px
    display: inline-block
    vertical-align: text-top
    background-image: url(http://arena_static.s3.amazonaws.com/arena_icons.png)


