.arena_channel-widget_container
  clear: both

  h1, h2, h3, h4
    &.arena
      text-align: center

  .nav.arena
    margin: 1em 0
    text-align: center

  #arena_blocks.arena_list .arena_block, 
  #arena_single.arena_block
    margin: 1em 0
    .image, .link, .media
      .display
        text-align: center
  #arena_blocks.arena_grid
    text-align: center
    .arena_block, .arena_block a
      display: inline-block
      height: 220px
      width: 220px
      line-height: 220px
      text-align: center
      vertical-align: middle
      img
        vertical-align: middle !important

  .metadata dl
    dt
      font-weight: bold
    dt, dd
      text-align: left
      margin: 0